# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# Compiled class file
*.class

# Ignore output directory for standalone tool
output/

# Eclipse
*.project
*.settings/

# VS Code
.vscode/

# OS files
.DS_Store

# Logs
*.log

# Others
*.swp
